
/**
* Properties inherited by all elements
*/
html {
  line-height: 1.6;
  font-family: "Arial", "FreeSans", sans-serif;
  word-wrap: break-word;
}
@media only screen and (max-device-width: 480px) {
  html {
    font-size: normal!important;
  }
}

/**
* Headers
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #404040;
  font-weight: 700;
  line-height: 1.1;
}
h1 {
  margin: 10px 0;
  font-size: 2.3em;
}
h2 {
  margin: 18px 0 11px 0;
  font-size: 2.1em;
}
h3 {
  margin: 14px 0 6px 0;
  font-size: 1.5em;
}
h4 {
  margin: 7px 0;
  font-size: 1.3em;
}
h5 {
  margin: 5px 0;
  font-size: 1.2em;
}
h6 {
  margin: 5px 0;
  font-size: 1em;
}
h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
  margin-top: 0;
}

/**
* Block elements
*/
p {
  margin: 16px 0;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
pre {
  font-family: "Courier", "Courier New", monospace;
  white-space: pre-wrap;
  overflow: hidden;
}
blockquote {
  border-left: 2px solid #777777;
  color: #777777;
  font-style: italic;
  margin: 20px auto;
  padding: 0 10px 0 15px;
  width: 85%;

}
.block-system-main .img {
  float: left;
}

/**
* Inline elements
*/
strong {
  font-weight: 700;
}
em {
  font-style: italic;
}
kbd {
  background-color: #f1eed4;
  border: 1px outset #575757;
  color: #333;
  padding: 2px 7px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
abbr[title],
dfn[title],
acronym[title] {
  border-bottom: 2px dotted gray;
}
del {
  text-decoration: line-through;
}
samp,
var,
code {
  background-color: #ffffc1;
}
ins {
  border: 1px dashed #63565F;
}
sub {
  vertical-align: sub;
}
sup {
  vertical-align: super
}
tt {
  font-family: monospace;
}
b {
  font-weight: 700;
}
i {
  font-style: italic;
}
*::selection {
	background-color: #404040;
  color: #ffffff;
}
*::-moz-selection {
	background-color: #404040;
  color: #ffffff;
}

/**
* Lists
*/
ul,
ol,
dl {
  list-style-position:  inside;
}
p + ul {
  margin-top: 5px;
}
ul {
  margin-left: 10px;
  list-style: none;
}
ul li {
  margin: 0 0 5px 0;
  padding: 0 0 0 15px;
  background: url(images/bullet.png) no-repeat 0 7px;
}
ul.inline li,
ul.links li {
  background-position: 0px 6px;
}
ul.inline li {
  display: inline;
}
ol {
  margin-left: 10px;
  list-style: decimal;
  list-style-position:  inside;
}
dl dt {
  margin-top: 5px;
  font-weight: 900;
}
dd {
}

/**
* Links
*/
a {
  text-decoration: none;
  font-weight: 700;
}
a:hover {
  text-decoration: underline;
}

/**
* Tables
*/
table {
  width: 100%;
  margin: 15px 0;
  border-spacing: 0;
}
th,
td {
  padding: 9px 14px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.3;
}
th,
thead {
  background-color: #333333;
  color: #fcfcf8;
}
th a,
thead a {
  color: #ffffff!important;
}
th a:hover,
thead a:hover {
  color: #ffffff;
  opacity: 0.8;
}
td {
  border-bottom: 1px solid #d8d8d8!important;
}
caption {
  font-weight: bold;
  margin-bottom: 4px;
  text-align: left;
}

/**
* Forms
*/
/* Wrappers, labels and helpers */
.fieldset-wrapper {
  margin: 10px 0;
}
fieldset {
  background-color: #F5F5F5;
  border: 1px solid #D8D8D8;
  margin: 40px 0 15px;
  padding: 19px 19px;
}
legend {
  background-color: #16222B;
  color: #F3F3F3;
  font-size: 0.8em;
  font-weight: 700;
  margin: -23px 0 0 -19px;
  padding: 5px 10px;
  text-transform: uppercase;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
legend span {
  font-weight: 700;
}
.form-item {
  margin: 10px 0;
  line-height: 1.2;
}
.form-item ~ .form-item {
  margin-top: 10px;
}
.form-item:first-child,
legend + .form-item,
legend + .fieldset-wrapper {
  margin-top: 0;
}
.form-item:last-child {
  margin-bottom: 0px;
}
.form-item .description {
  margin-top: 6px;
  font-size: 0.9em;
  opacity: 0.8
}
.form-item .description li {
  background-position: 0 3px;
}
label {
  vertical-align: middle;
  display: block;
  font-weight: 700;
  font-size: 0.9em;
  margin-bottom: 4px;
}
label.option {
  display: inline;
  font-weight: normal;
  color: inherit;
}
span.form-required {
  font-weight: 700;
  color: #FF3300;
}

/* Text inputs*/
input.form-text,
input.form-password,
input.form-file,
textarea {
  padding: 6px;
  font-family: "Arial", sans-serif;
  font-size: inherit;
  color: #404040;
  border: 1px solid #b7b7b7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input.form-text:focus,
input.form-password:focus,
input.form-file:focus,
textarea:focus {
  border: 1px solid #3F6069!important;
}
input.form-text,
input.form-password {
}
input.form-file {
  border: none;
  background: none;
}
textarea {
  width: 100%;
  height: 230px;
  line-height: 1.3;
  resize: none;
}
/* Select inputs */
select {
  padding: 4px;
}
.form-radios,
.form-checkboxes {
  margin: 3px 0;
}
.form-item-choice {
  padding: 3px 0;
}
.form-item.form-type-radio,
.form-item.form-type-checkbox {
  margin: 4px 0;
}
input.form-checkbox,
input.form-radio {
  display: inline;
  margin: 0 4px;
  vertical-align: middle;
}
/* Buttons */
input.form-button,
input.form-submit {
  border: 1px solid #6B9107;
  color: #ffffff;
  cursor: pointer;
  font-size: 10px;
  font-weight: 700;
  margin: 4px 5px 4px 0;
  padding: 6px 12px;
  text-transform: uppercase;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  background: #94CA06;
  background: -moz-linear-gradient(center top, #85b40a, #afe801);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #85b40a), color-stop(1, #afe801));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#85b40a', endColorstr='#afe801')";
}
