
/* Background (dark blue) */
body {
  background: #467491;
}
.poll .bar .foreground {
  background-color: #467491;
}
#branding a::selection,
#branding #site-slogan::selection {
	background-color: #ffffff;
  color: #467491;
}
#branding a::-moz-selection,
#branding #site-slogan::-moz-selection {
	background-color: #ffffff;
  color: #467491;
}
/* Sidebar (light blue) */
#sidebar,
#sidebar .region  {
  background-color: #e2eef2;
}
/* Header menu (very dark blue) */
#header-menu {
  background-color: #16222b;
}
/* Footer */
#footer {
  background-color: #1a272e;
}
#closure {
  background-color: #1a272e;
}
/* Footer header */
#footer .block h2 {
  color: #6d7e87;
}
#closure {
  color: #6d7e87;
}
#footer {
  color: #6d7e87;
}
#footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6 {
  color: #6d7e87;
}
/* Footer link */
#footer .block a {
  color: #b2d1e4;
}
#footer a:focus {
  outline: 1px dashed #b2d1e4;
}
#closure a {
  color: #b2d1e4;
}
/* Footer link hovered */
#footer a:hover,
#closure a:hover {
  color: #fffffe;
}
/* Footer border */
#footer .block li {
  border-top: 1px solid #273d4e;
}
#footer .block li:first-child {
  border-top: none;
}
#closure {
  border-top: 1px solid #273d4e;
}
#footer-column-first,
#footer-column-second {
  border-left: 1px solid #273d4e;
}
/* Text */
html {
	color: #404040;
}
.node h1.node-title a::selection,
.node h2.node-title a::selection,
a.contextual-links-trigger::selection {
	background-color: #404040;
  color: #ffffff;
}
.node h1.node-title a::-moz-selection,
.node h2.node-title a::-moz-selection,
a.contextual-links-trigger::-moz-selection  {
	background-color: #404040;
  color: #ffffff;
}
/* Link */
a {
  color: #ce1433;
}
a:focus {
  outline: 1px dashed #ce1433;
}
a::selection {
	background-color: #ce1433;
  color: #ffffff;
}
a::-moz-selection {
	background-color: #ce1433;
  color: #ffffff;
}
/* Link hovered*/
a:hover {
  color: #ce1432;
}
/* Closure text */
#closure {
  color: #677881;
}
#footer a::selection,
#closure a::selection {
	background-color: #ffffff;
  color: #677881;
}
#footer a::-moz-selection,
#closure a::-moz-selection {
	background-color: #ffffff;
  color: #677881;
}
/* Closure link */
#closure a {
  color: #89a2ab;
} 
/* Sidebar header */
#sidebar .block h2 {
  color: #4a8393;
}
#sidebar .block h2::selection {
	background-color: #4a8393;
  color: #ffffff;
}
#sidebar .block h2::-moz-selection {
	background-color: #4a8393;
  color: #ffffff;
}
/* Sidebar link */
#sidebar .block a {
  color: #3f6069;
}
#sidebar .block a:active,
#sidebar .block a:focus {
  outline-color: #3f6069; 
}
.node-meta a {
  color: #3f6069;
}
.node-meta a:focus,
.node-meta a:active {
  outline-color: #3f6069;
}
#sidebar .block a::selection,
.node-meta a::selection {
	background-color: #3f6069;
  color: #ffffff;
}
#sidebar .block a::-moz-selection,
.node-meta a::-moz-selection {
	background-color: #3f6069;
  color: #ffffff;
}
/* Sidebar link hovered */
#sidebar .block a:hover {
  color: #131a1c;
}
.node-meta a:hover {
  color: #131a1c;
}
/* Sidebar border (blue) */
#sidebar {
  border-left: 1px solid #cddadf;
}
#sidebar .block ul.menu li,
#sidebar .block div.item-list li {
  border-bottom: 1px solid #cddadf;
}
#sidebar .block ul.menu li.first,
#sidebar .block div.item-list li.first {
  border-top: 1px solid #cddadf;
}
#sidebar .block ul.menu li:last-child {
  border-bottom: none;
}
/* Grippie */
.resizable-textarea .grippie {
  background-color: #d1d1d1;
  border: 1px solid #d1d1d1;
}

