
/* Layout */
#wrapper {
  max-width: 960px!important;
  min-width: 960px!important;
  width: 960px!important;
}
#content {
  display: block;
  float: left;
  width: 700px!important;
}
#sidebar {
  display: block;
  float: right;
  width: 255px!important;
}
/* Fix inline-blocks */
a#logo,
#site-name,
#site-slogan,
#header-menu .content > ul > li,
#footer-menu ul li,
#sidebar ul.menu li a,
#sidebar div.item-list li a,
.node-meta .day,
.node-meta .month-and-year,
.comment h3.title,
.field-type-taxonomy-term-reference .field-label,
.field-type-taxonomy-term-reference .field-items,
.field-type-taxonomy-term-reference .field-item,
.search-advanced .criterion,
.search-advanced .action,
.region-search .form-item-search-block-form,
.region-search input.form-submit,
.region-search form#search-block-form,
.tabs ul.tabs li,
a.tabledrag-handle,
ul.pager li {
  zoom: 1;
  display: inline;
}
/* Trigger hasLayout */
ul.menu li a,
.block {
  zoom: 1;
}
/* Drop down menu not visible */
#header-menu * {
  z-index: 999;
}
/* Footer columns messed up */
#footer-column-first {
  float: left;
  width: 500px;
}
#footer-column-second {
  width: 207px;
  float: right;
}
/* Closure */
#closure {
-moz-box-sizing:border-box;
  display: block;
  padding: 13px 22px;
  width: 910px;
}
/* Bug: node meta misaligned */
.node-meta {
  left: -190px;
}
/* Fix other issues */
td, th {
  border-bottom: 1px solid #ccc;
}
textarea {
  padding: 0;
}
input {
  padding: 5px 0!important;
}

