
/**
 * Layout
 */
#main {
  display: table;
  table-layout: fixed;
  width: 100%;
}
#content,
#sidebar {
  display: table-cell;
  vertical-align: top;
}
#content > .inner {
  padding: 26px 28px;
  margin-left: 150px;
}
/* 2-column layout */
body.one-sidebar #wrapper {
  margin: 0 auto;
}
body.one-sidebar #content {
  width: 72%;
}
body.one-sidebar #sidebar {
  width: 28%;
}
/* 1 column layout */
body.no-sidebars #wrapper {
  margin: 0 auto;
}
body.no-sidebars #content {
  width: 100%;
}
/* Prevent collision with browser chrome */
#wrapper {
  padding: 0 20px;
}
/* Mobile */
@media only screen and (max-device-width: 480px) {
  #header,
  #main,
  #footer {
    width: 100%!important;
  }
}

/**
 * Wrappers
 */
body {
	margin-bottom: 20px;
}
#main {
  min-height: 300px;
  background: #ffffff url(images/margin.png) repeat-y top left;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
  position: relative; /* Bug: horizontal scrollbar on Opera */
}
#content {
  overflow: hidden; /* Bug: horizontal scrollbar on Opera */
}
#content > .margin > .inner {
  padding: 22px 25px;
  border-left: 1px solid #d8d8d8;
}
#sidebar {
  height: 100%;
}
#sidebar .region {
  background-color: #e2eef2;
  position: relative;
  z-index: 10;
}
#footer {
  background-image: url(images/footer.png);
  background-repeat: repeat-y;
  background-position: top left;
}
#footer,
#closure {
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/**
 * Utility classes
 */
.element-hidden {
  display: none;
}
.element-invisible,
#header-menu h2,
#footer-menu h2 {
  height: 0;
  overflow: hidden;
  position: absolute;
  padding: 0;
}
html.js .js-hide {
  display: none;
}
.nowrap {
  white-space: nowrap;
}
.clearfix:after,
.clear-block:after {
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

/**
 * Skip link
 */
#skip-link {
  height: auto;
  overflow: hidden;
  padding: 0;
  margin-top: 0;
  position: absolute;
  left: 40%;
  width: auto;
  z-index: 990;
}
#skip-link a {
  position: absolute;
  display: block;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background: #444;
  color: #ffffff;
  font-size: 0.94em;
  text-decoration: none;
  outline: 0;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -khtml-border-radius-bottomright: 10px;
  -khtml-border-radius-bottomleft: 10px;
  -khtml-border-radius-topright: 0;
  -khtml-border-radius-topleft: 0;
  border-radius: 0 0 10px 10px;
}
#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  padding: 1px 10px 2px 10px;
}

/**
 * Branding
 */
#branding {
  padding: 41px 20px 37px;
  margin-bottom: 7px;
}
a#logo {
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px 0 0;
}
a#logo:hover {
  border-bottom: none;
}
a#logo img {
  margin: 0;
}
#site-name {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
#site-name a {
  color: #ffffff;
  font-size: 42px;
  font-family: "Trebuchet MS", "Helvetica Neue", "Arial", sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 0 20px 0 0;
  text-shadow: 2px 2px 5px #292929;
}
#site-name a:hover {
  text-decoration: none;
}
#site-name a:active,
#site-name a:focus {
  outline-color: #373737; 
}
#site-slogan {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
}

/**
 * Header menu
 */
/* 1st level */
#header-menu {
  margin-left: 150px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#header-menu .content > ul > li {
  display: inline-block;
  padding-left: 0;
  background: none;
  margin: 0;
  position: relative;
}
#header-menu .content > ul > li a {
  color: #e0e0e0;
  display: block;
  padding: 11px 21px;
  line-height: 1.3;
  text-transform: uppercase;
}
#header-menu .content > ul > li:hover > a,
#header-menu .content > ul > li > li.active:hover > a {
  color: #ffffff;
  text-decoration: none;
}
#header-menu .content > ul > li > a:active,
#header-menu .content > ul > li > a:focus {
  outline: 1px dotted #e0e0e0;
  color: #ffffff;
}
#header-menu .content > ul > li > a.active {
  color: #1a272e;
  padding: 11px 20px 11px 20px;
  background-color: #ffffff;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: -moz-linear-gradient(center top, #efefef, #ffffff);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #efefef), color-stop(1, #ffffff));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#efefef', endColorstr='#ffffff')";
  border: 1px solid #ffffff;
}
#header-menu .content > ul > li > a.active:hover {
  color: inherit;
}
#header-menu .content > ul > li.expanded {
  position: relative;
}
#header-menu .content > ul > li.expanded > a {
  background: url(images/menu-expanded-white.png) no-repeat 90% 16px;
  margin-right: 10px;
}
#header-menu .content > ul > li.expanded > a.active {
  background: #ffffff url(images/menu-expanded-black.png) no-repeat 85% 16px;
  padding: 11px 32px 11px 20px;
  margin-right: 0;
}
#header-menu .content > ul > li.expanded:hover > a {
}
#header-menu .content > ul > li.expanded > a {
  padding-right: 22px;
}
/* 2nd, 3rd, 4th level */
#header-menu li.expanded ul {
  display: none;
  position: absolute;
  width: 190px;
  top: 37px;
  left: -11px;
  border-top: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  background-color: #f5f5f5;
  z-index: 100;
}
#header-menu li.expanded:hover > ul {
  display: block;
}
#header-menu li.expanded li {
  background: none;
  display: block;
  margin: 0;
  padding: 2px 0;
  border-bottom: 1px solid #DBDBDB;
  border-top: 1px solid #FFFFFF;
  text-transform: uppercase;
}
#header-menu li.expanded li:hover {
  background-color: #E0E0E0;
}
#header-menu li.expanded li a {
  padding: 4px 12px 4px 23px;
  color: #555555;
  font-size: 10px;
  display: block;
}
#header-menu li.expanded li a:hover {
  text-decoration: none;
}
#header-menu li.expanded li a:active,
#header-menu li.expanded li a:focus {
  outline: none;
}
#header-menu li.expanded li.expanded {
  position: relative;
  background-image: url("images/menu-expanded-2.png");
  background-repeat: no-repeat;
  background-position: 96% 50%;
}

#header-menu a::selection {
	background-color: #ffffff;
  color: #16222B;
}
#header-menu a::-moz-selection {
	background-color: #ffffff;
  color: #16222B;
}

/* Third level */
#header-menu li.expanded li.expanded ul {
  margin-left: 190px;
  top: 0;
  left: 0;
}

/**
 * Footer columns
 */
#footer-columns {
  display: table;
  width: 100%
}
#footer-column-first,
#footer-column-second {
  display: table-cell;
}
#footer-column-first {
  width: 72%;
  padding: 25px 24px 10px 175px;
}
#footer-column-first.single {
  width: 100%;
}
#footer-column-second {
  width: 28%;
  padding: 25px 24px;
}
#footer-column-second.single {
  width: 100%;
  padding-left: 170px;
}
#footer-column-first h2 {
  width: 120px;
  position: absolute;
  left: -160px;
  text-align: right;
}
#footer ul {
  margin-left: 0;
}

/**
 * Closure
 */
#closure {
  display: table;
  width: 100%;
  padding: 13px 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#closure .inner {
  display: table;
  width: 100%;
}
#closure a:hover {
  border-bottom-width: 0;
}
/* Theme info */
#info {
  display: table-cell;
}
/* Secondary menu */
#footer-menu {
  display: table-cell;
  text-align: right;
  font-size: 0.9em;
}
#footer-menu .block ul {
  margin: 0;
}
#footer-menu .block ul li {
  display: inline;
  padding: 0 0 0 13px;
  margin: 0;
  background: none;
  border: none;
}
#footer-menu .block ul li:first-child {
  padding: 0;
}

/**
 * Tabs
 */
.tabs {
  margin: 14px 0;
}
.tabs ul.tabs {
  margin-left: 0;
}
.tabs ul.tabs li {
  display: inline-block;
  padding-left: 0;
  margin-right: 5px;
  background-image: none;
}
.tabs ul.tabs li a {
  background-color: #F5F5F5;
  border: 1px solid #C6C6C6;
  font-size: 11px;
  color: #444444;
  display: block;
  padding: 5px 16px;
}
.tabs ul.tabs li.active a {
  background-color: #ffffff;
}
.tabs ul.tabs li a:active,
.tabs ul.tabs li a:focus {
  outline: none;
}
.tabs ul.secondary {
  margin-top: -14px;
}
.tabs ul.secondary li a {
  font-size: 12px;
  padding: 2px 12px ;
}
.tabs a::selection {
	background-color: #444444;
  color: #ffffff;
}
.tabs a::-moz-selection {
	background-color: #444444;
  color: #ffffff;
}

/**
 * Vertical tabs
 */
.vertical-tabs {
  border: 1px solid #CCCCCC;
  margin: 18px 0;
}
.vertical-tabs fieldset {
  background-color: inherit;
}
.vertical-tabs .form-item:first-of-type {
  margin-top: 6px;
}
ul.vertical-tabs-list {
  display: table-cell;
  vertical-align: top;
  width: 165px;
  margin: 0;
}
ul.vertical-tabs-list li {
  background-image: none;
  padding: 0;
  margin: 0;
}
ul.vertical-tabs-list li a {
  background-color: #F5F4F3;
  font-size: 0.9em;
  display: block;
  padding: 7px 12px;
  font-weight: 700;
  color: inherit;
  border-right: 1px solid #CCCCCC; /* LTR */
  border-bottom: 1px solid #CCCCCC;
}
ul.vertical-tabs-list li a strong {
}
ul.vertical-tabs-list li a:focus {
  outline: none;
}
ul.vertical-tabs-list span.summary {
  display: none;
}
ul.vertical-tabs-list li.selected a {
  background-color: #ffffff;
  border-right: none; /* LTR */
}
.vertical-tabs-panes {
  display: table-cell;
  vertical-align: top;
  padding: 10px 0;
}
fieldset.vertical-tabs-pane {
  margin: 0;
  padding: 0px 15px 10px 15px;
  border: none;
  background-color: inherit;
}
fieldset.vertical-tabs-pane legend,
ul.vertical-tabs-list small.summary {
  display: none;
}
.vertical-tabs input {
}

/**
 * Pagers
 */
ul.pager {
  margin-left: 0;
  margin: 10px 0 2px 0;
}
ul.pager li {
  padding: 0;
  display: table-cell;
  background: none;
}
ul.pager li.last {
  border-right: none;
}
ul.pager li a,
ul.pager li.pager-current,
ul.pager li.pager-ellipsis {
  font-size: 0.9em;
  padding: 0px 8px;
}
ul.pager li.first {
  padding-left: 2px;
}
ul.pager li.pager-previous {
  padding-right: 8px;
}
ul.pager li.pager-next {
  padding-left: 8px;
}
ul.pager li.pager-next a {
}

/**
 * Breadcrumbs
 */
#breadcrumb {
  margin: 0 0 8px 0;
}
.breadcrumb a {
  font-size: 0.9em;
}

/**
 * Collapsing fieldsets
 */
html.js fieldset.collapsible {
  margin: 30px 0 15px 0;
}
html.js fieldset.collapsible legend a {
  padding: 0 15px 0 0;
  margin: 0 2px 0 0;
  background: url("images/arrow-down-white.png") no-repeat right 4px;
  color: #F3F3F3;
}
html.js fieldset.collapsible legend a:active,
html.js fieldset.collapsible legend a:focus {
  outline: none;
  text-decoration: underline;
}
html.js fieldset.collapsed legend a {
  background: url(images/arrow-right-white.png) no-repeat right 2px;
}
html.js fieldset.collapsed .fieldset-wrapper,
html.js fieldset.collapsed .action {
  display: none;
}
html.js fieldset.collapsed {
  padding: 4px 19px;
}

/*
 * Resizable textareas
 */
.resizable-textarea .grippie {
  position: relative;
  top: -3px;
  width: 100%;
  height: 9px;
  background-image: url(images/grippie.png);
  background-repeat: no-repeat;
  background-position: center 1px;
  border-top-width: 0;
  cursor: s-resize;
  margin-top: -2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Aggregator module
 */
#content a.feed-icon {
  float: right;
  position: relative;
  bottom: 10px;
}
#content a.feed-icon img {
  margin: 0;
}
h3.feed-item-title {
  margin-bottom: 0;
}
.feed-item-body {
  margin: 7px 0 20px 0;
}

/**
 * Block module
 */
/* Sidebar blocks */
#sidebar .block-wrapper {
  background: url(images/block.png) repeat-x bottom left;
  padding-bottom: 18px;
}
#sidebar .block {
  margin: 18px 18px 0 18px;
}
#sidebar .block h2 {
  font-size: 1.25em;
  font-weight: 700;
  margin: 0px 0 12px 0;
}
#sidebar ul {
  margin-left: 0;
}
#sidebar ul li {
  background: url(images/bullet-sidebar.png) no-repeat 3px 6px;
  padding: 0 0 0 17px;
}
#sidebar ul.menu,
#sidebar div.item-list ul {
  margin: 0;
}
#sidebar ul.menu li,
#sidebar div.item-list li {
  margin: 0;
  padding: 0;
  background: none;
}
#sidebar ul.menu li a,
#sidebar div.item-list li a {
  display: inline-block;
  background: url(images/bullet-sidebar.png) no-repeat 4px 11px;
  line-height: 1.3;
  margin: 0;
  padding: 6px 0 6px 19px;
}
#sidebar ul.menu li li a,
#sidebar div.item-list li li a {
  margin-left: 18px;
}
#sidebar ul.menu li li li a,
#sidebar div.item-list li li li a {
  margin-left: 36px;
}
#sidebar ul.menu li.expanded,
#sidebar div.item-list li.expanded {
  border: none;
}
#sidebar .block th,
#sidebar .block td {
  padding-left: 0;
  padding-right: 0;
}
#sidebar .block .more-link {
  display: block;
  text-align: right;
  margin: 14px 0 0 0;
}
#sidebar .block .more-link a {
  text-transform: lowercase;
  color: #AE855C;
  font-weight: 700;
  padding-bottom: 2px;
}
#sidebar .block input.form-text,
#sidebar .block input.form-password,
#sidebar .block input.form-file,
#sidebar .block textarea {
  width: 100%;
}
/* Content blocks */
.block-wrapper + .block-wrapper #block-system-main {
  margin-top: 20px;
}
.block-wrapper:first-child h2 {
  margin-top: 5px;
}
/* Footer blocks */
#footer .block-wrapper {
  margin-top: 28px;
}
#footer .block-wrapper:first-child {
  margin-top: 0;
}
#footer .block {
  border: none;
  background: none;
  padding: 0;
  position: relative;
}
#footer .block h2 {
  font-weight: 700;
  line-height: 1.1;
  font-size: 1.3em;
  margin-top: 2px;
}
#footer .block li {
  background-image: url(images/bullet-footer.png);
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0;
  background-position: 0 11px;
}
#footer .region-footer-column-first h2 {
  text-align: right;
}
/* More link */
.more-link {
  text-align: right;
  margin-top: 10px;
}
/* latest comments */
#block-comment-recent span {
  margin-left: 5px;
}
/* author information */
#block-profile-author-information .user-picture {
  float: left;
  margin: 5px 15px 5px 0;
}

/**
 * Node module
 */
.node + .node {
  margin-top: 25px;
}
.node-wrapper {
  position: relative;
  z-index: 5;
  padding: 25px 0;
}
.node-wrapper:first-child {
  padding-top: 0;
}
.node {
  min-height: 100px;
}
.node h1.node-title,
.node h2.node-title {
  font-size: 2.3em;
  margin: 0 0 20px 0;
  color: 	#404040;
}
.node h1.node-title a,
.node h2.node-title a {
  color: inherit;
}
.node h1.node-title a:hover,
.node h2.node-title a:hover,
.node h1.node-title a:focus,
.node h2.node-title a:focus {
  text-decoration: underline;
  outline: none;
}
.node .field-type-image {
  float: left;
  clear: both;
  margin: 15px 15px 15px 0;
}
.node .field-name-body {
  margin-bottom: 14px;
}
.node ul.links {
  margin-left: 0;
}
.node ul.links li {
  margin-right: 7px;
  padding-left: 0;
  background: none;
}
/* meta (shown on margin) */
.node-meta {
  text-align: right;
  width: 145px;
  position: absolute;
  left: -158px;
  padding-right: 31px;
  background: url("images/arrow.png") no-repeat right top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.node-meta * {
  font-weight: 700;
}
.node-meta ul li.comment-comments,
.node-meta ul li.comment-add {
  background: url("images/comment.gif") no-repeat right center;
  padding: 2px 23px 3px 0;
  margin-right: 7px;
}
.node-meta ul li.comment-new-comments {
  display: none;
}
.node-meta ul li {
  background: none;
  line-height: 1;
  display: block;
  margin-bottom: 6px;
  margin-right: 0!important;
}
.node-meta .date {
  margin: 0 0 10px 0;
  line-height: 1;
}
.node-meta .day {
  margin: 0 5px 0 0;
  padding: 0 5px 0 0;
  color: #8D8D8D;
  font-weight: 700;
  font-size: 35px;
  border-right: 1px solid #CBCBCB;
  line-height: 28px;
  display: inline-block;
}
.node-meta .day::selection {
	background-color: #8d8d8d;
  color: #ffffff;
}
.node-meta .day::-moz-selection {
	background-color: #8d8d8d;
  color: #ffffff;
}
.node-meta *::selection {
	background-color: #666666;
  color: #ffffff;
}
.node-meta *::-moz-selection {
	background-color: #666666;
  color: #ffffff;
}
.node-meta .month-and-year {
  display: inline-block;
  color: #666666;
}
.node-meta .month {
  font-size: 16px;
  font-weight: 700;
  display: block;
}
.node-meta .year {
  display: block;
}
.node-meta .user-name {
  display: block;
  padding: 7px 21px 7px 0;
  background: url(images/user.gif) no-repeat right center;
  font-size: 0.9em;
}
.node-separator {
  background-color: #cbcbcb;
  bottom: 0;
  height: 1px;
  left: -178px;
  position: absolute;
  width: 500%;
}

/**
 * Book module
 */
.page-links {
  position: relative;
  margin-top: 20px;
  border-top: 1px solid #d8d8d8;
  padding: 13px 0;
}
.page-links a.page-previous {
  float: left;
}
.page-links a.page-up {
  position: absolute;
  left: 50%;
}
.page-links a.page-next {
  float: right;
}
.node-book ul.links {
  margin: 0 0 14px 0;
}

/**
 * Comment module
 */
#comments-wrapper {
  margin-top: 20px;
}
#comments h2.comments {
  border-bottom: 2px solid #D7D7D7;
  padding-bottom: 5px;
  margin-top: 30px;
  margin-bottom: 17px;
}
#add-comment-link {
  font-size: 16px;
  padding-left: 2px;
}
#comments-wrapper .indented {
  margin-left: 30px;
}
.comment {
  border-bottom: 1px dotted #D7D7D7;
  margin-bottom: 14px;
  padding-bottom: 14px;
}
.comment .header {
  display: table;
  margin-bottom: 11px;  
}
.comment .user-picture {
  display: table-cell;
  vertical-align: middle;
  padding: 0 15px 0 0;
}
.comment .user-picture img {
  width: 32px;
  border: 2px solid #DCDCDC;
  padding: 5px;
}
.comment .title-and-meta {
  display: table-cell;
  vertical-align: middle;
  line-height: 1;
}
.comment h3.title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 1px;
}
.comment h3.title a {
  font-size: 1.1em;
  color: #666666;
  font-weight: 700;
}
.comment ul.links {
  margin: 8px 0 0;
}
.comment ul.links li a {
  text-transform: capitalize;
}
h2#add-comment-form {
  margin-top: 30px;
}
.no-comments #comment-form-wrapper {
  margin-left: 0;
}
form#comment-form #edit-actions {
  margin: 0;
}

/**
 * Field, Field UI and File modules
 */
/* Taxonomy terms */
.field-type-taxonomy-term-reference .field-label {
  color: #6E5539;
  display: inline-block;
}
.field-type-taxonomy-term-reference .field-items {
  display: inline-block;
}
.field-type-taxonomy-term-reference .field-item {
  display: inline-block;
  margin-right: 5px;
}
.field-type-taxonomy-term-reference .field-item:after {
	content: ",";
}
.field-type-taxonomy-term-reference .field-item:last-child:after {
  content: none;
}

/**
 * Filter module
 */
.filter-wrapper .fieldset-wrapper {
  margin: 0;
}
fieldset.filter-wrapper {
  margin-top: 0;
  border-top: none;
}
.filter-help.form-wrapper {
  float: right;
}
fieldset.filter-wrapper .form-item-comment-body-und-0-format {
  margin: 0 0 10px 0;
}
.text-format-wrapper .form-item {
  margin-bottom: -3px;
}
.filter-guidelines ul {
  margin: 12px 0 0 0;
}
.filter-guidelines ul li {
  margin: 0;
}
body.page-filter-tips #content ul {
  margin-left: 0;
}
body.page-filter-tips #content ul li {
  padding-left: 0;
  background: none;
  margin: 10px 0;
}
body.page-filter-tips table {
  margin: 10px 0;
}

/**
 * Forum module
 */
body.page-forum ul.action-links {
  margin: 9px 0;
}
#forum table {
  margin-top: 4px;
}
#forum tr.container {
  background-color: #f5f5f5;
}
#forum tr.container td {
}
#forum table span.submitted {
  display: block;
  margin-top: 5px;
}
#forum .name {
  margin-bottom: 4px;
}
#forum td {
  padding: 13px;
}
#forum td.icon .topic-status-sticky {
  background: url(images/forum-sticky.png) no-repeat center center;
  width: 30px;
  height: 35px;
}
#forum td.icon .topic-status-default {
  background: url(images/forum-default.png) no-repeat center center;
  width: 37px;
  height: 32px;
}
#forum td.icon .topic-status-closed {
  background: url(images/forum-closed.png) no-repeat center center;
  width: 30px;
  height: 35px;
}
#forum td.icon .topic-status-hot {
  background: url(images/forum-hoht.png) no-repeat center center;
  width: 37px;
  height: 32px;
}
#forum td.icon .topic-status-new {
  background: url(images/forum-new.png) no-repeat center center;
  width: 42px;
  height: 39px;
}
#forum td.icon .topic-status-hot-new {
  background: url(images/forum-hot-new.png) no-repeat center center;
  width: 43px;
  height: 38px;
}

/**
 * OpenID module
 */
/* user login form */
html.js #user-login-form .form-item-openid-identifier,
html.js #user-login .form-item-openid-identifier {
  display: none;
}
html.js #user-login-form li.openid-link,
html.js #user-login li.openid-link {
  display : block;
}
#user-login-form li.openid-link,
#user-login li.openid-link,
#user-login-form li.user-link,
#user-login li.user-link {
  display: none;
}
#user-login-form li.openid-link a,
#user-login li.openid-link a {
}
#block-user-login li:first-child {
  margin-top: 8px;
}
#block-user-login .description {
  margin-bottom: 10px;
}
/* user profile tab */
.form-item-openid-identifier {
  margin: 10px 0;
  display: block;
}

/**
 * Poll module
 */
.poll .bar-wrapper {
  margin-bottom: 14px;
}
.poll .text {
  float: left;
  margin-bottom: 3px;
}
.poll .percent {
  float: right;
  margin-bottom: 3px;
}
.poll .bar {
  background-color: #f5f5f5;
  border: 1px solid #d8d8d8;
}
.poll .bar .foreground {
  height: 18px;
}
.vote-form .form-item-choice {
  margin: 6px 0;
  padding: 0;
}
.vote-form .title {
  font-weight: 700;
  line-height: 1.5;
}
.vote-form .form-radios {
  margin: 13px 0 9px 0;
}

/**
 * Profile and User modules
 */
.profile dd {
  margin-left: 0;
}
.profile h3 {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 4px;
  margin-bottom: 10px;
  margin-top: 17px;
}
.profile .user-picture {
  margin-top: 30px;
}

/**
 * Search module
 */
.search-results {
  list-style: none;
  margin: 0;
}
.search-results p {
  margin-top: 0;
  margin-bottom: 5px;
}
.search-results p.search-info {
  margin-left: 0;
  margin-bottom: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #D8D8D8;
}
.search-results .search-info {
  font-size: 0.9em;
}
.search-advanced .criterion {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
}
.search-advanced .action {
  display: inline-block;
  vertical-align: top;
}
#search {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.block-search {
  margin: 0 0 1px 0;
}
.block-search .block h2 {
  display: none;
}
.block-search .form-item-search-block-form,
.block-search input.form-submit {
  display: inline-block;
  margin: 0;
}
.block-search .container-inline > div {
  display: inline-block;
}
.block-search input.form-text {
  display: inlinie-block;
  border: 1px solid #e6e6e6;
  background-color: #fbfbfb;
  height: 24px;
}

/**
 * Contexutal links module
 */
div.contextual-links-wrapper {
  font-size: 12px;
  z-index: 20;
}
div.contextual-links-active a.contextual-links-trigger  {
  right: 0px;
}
a.contextual-links-trigger:focus {
  outline: none;
  right: -2px;
}
div.contextual-links-wrapper ul.contextual-links  {
  top: 18px;
  font-size: 11px;
}
div.contextual-links-wrapper ul.contextual-links li {
  background: none !important;
  border-bottom: none!important;
  margin: 0;
  padding: 0!important;
}
div.contextual-links-wrapper ul.contextual-links a {
  line-height: 1.4;
  font-weight: 300;
}

/**
 * Tooblar module
 */
#toolbar {
  font-size: 11px;
}
#toolbar a {
  font-weight: 300;
}
#toolbar ul li {
  background: none;
}

/**
 * Panels module
 */
.panel-pane h2.pane-title {
  margin-bottom: 6px;
}
.panel-pane .node-meta  {
  background: none;
  left: 0;
  padding-right: 0;
  position: relative;
  text-align: left;
  width: auto;
  line-height: 1;
}
.panel-pane .node-meta * {
  font-size: 13px!important;
  color: #666666!important;
}
.panel-pane .node-separator {
  display: none;
  width: 0;
  height: 0;
}
.panel-pane .node-meta .date:after {
  content: ", ";
}
.panel-pane .node-meta .day {
  border-right: none;
  display: inline;
  line-height: normal;
  margin: 0;
  padding: 0;
}
.panel-pane .node-meta .date,
.panel-pane .node-meta .month-and-year,
.panel-pane .node-meta .month,
.panel-pane .node-meta .year,
.panel-pane .node-meta .user-name {
  display: inline-block;
  padding: 0;
}

/**
 * Action links
 */
ul.action-links {
  margin: 6px 0;
}
ul.action-links li {
  padding-left: 0;
  background: none;
}

/**
** Messages
*/
#messages {
  margin: 10px 0;
}
.messages {
  padding: 10px;
  margin: 10px 0;
  color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#messages:first-child {
  margin-top: 0;
}
.messages em {
  font-weight: 300;
}
div.messages a {
  color: #fff;
  text-decoration: underline;
}
.messages a:hover {
  color: #fff;
}
.messages a:hover {
  border-bottom: none;
}
.messages.status {
  background-color: #92ac1d;
}
.messages.warning {
  background-color: #e7a110;
}
.messages.error {
  background-color: #d93c26;
}
.messages ul li {
  background-image: url("images/bullet-white.png");
}
.messages em {
  font-weight: 300;
}

/**
 * admin/structure/block/demo/typebased
 */
.block-region {
  background-color: #f3e60e;
  margin: 7px 0 0;
  padding: 4px 5px;
  border: 1px solid #060808;
  color: #000;
}
#footer .block-region {
  margin: 5px 0 0 0;
}
form#block-admin-display-form input#edit-submit {
  margin: 12px 0 15px;
  display: block;
}
form#block-admin-display-form div.warning {
  margin-top: 10px;
}
a.block-demo-backlink {
  color: #fff;
  background: #000;
  padding: 10px 10px;
  margin-top: 10px;
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0;
}
a.block-demo-backlink:hover {
  color: #fff;
}

